body {
    background: black;
    background-image: url('images/fondo-pacman.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: yellow;
}

#pacmanpic {
    max-width: 100px;
}